{% if section.title %}
    {% set title = section.title %}
{% else %}
    {% set title = page.title %}
{% endif %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }} - raindev</title>
        <link rel="stylesheet" type="text/css" href="/default.css" />
        <link rel="alternate" type="application/atom+xml" href="/atom.xml"
            title="Atom feed of raindev's blog">
        <link rel="alternate" type="application/rss+xml" href="/rss.xml"
            title="RSS feed of raindev's blog">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Thoughts and Opinions</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/blog">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>{{ title }} </h1>

            {% block content %} {% endblock %}
        </div>
        <div id="footer">
            <div id="license">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                <img alt="Creative Commons License" src="/by-nc-sa.svg"
                  title="The content is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License"/>
              </a>
            </div>
            <div>
                You could subscribe for the updates using
                <a href="/atom.xml">Atom</a>
                or
                <a href="/rss.xml">RSS</a>
                feed
            </div>
            <div>
                Built with <a href="https://getzola.org">Zola</a>.
                The website theme is inspired by
                <a href="http://bettermotherfuckingwebsite.com">this website</a>
            </div>
            <div>
                Credit for the portrait goes to <a href="https://instagram.com/ann_holovach">Hanna Holovach</a>
            </div>
        </div>
    </body>
</html>
