.title {
	display: block;
	margin: 20px 0;
}
.title h2 {
    display: inline;
}
.logo {
    width: 24px;
    padding-right: 10px;
    vertical-align: -2px;
}
code {
  /* Padding introduces misalignment of the first line number. */
  padding: 0px;
}
