body {
    margin: 40px auto;
    max-width: 750px;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

div#header {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding-bottom: 6px;
    font-family: sans-serif;
}

div#logo a {
    color: black;
    float: left;
    text-decoration: none
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
}

#content {
    line-height: 1.6;
}

div#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.ref {
    font-size: smaller;
}

.footnote {
    font-size: smaller;
}

div#license {
    float: left;
}

pre {
    overflow: auto;
}

body {
    word-break: break-word;
}
